---
const personalImageAlt = "Gabriela Alejandra";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Gabriela Alejandra, pero mis familiares y amigos me llaman Gaby.
      Empecé en la programación ayudando a mi esposo, en el frontend utilizando
      React, sin tener nada de conocimiento en ese framework. Actualmente estoy <strong
        >entrenándome en varios lenguajes y framework para fortalecer mis
        conocimientos en desarrollo web</strong
      >.
    </p>

    <p>
      Me recibí como Licenciada en Administración Comercial; sin embargo, <strong
      >
        el haber colaborado en algunos desarrollos móbiles y web, me despertaron
        esa curiosidad e interés por la programación
      </strong>. Aunque todavía me falta mucho por aprender, no pierdo las ganas
      de hacer buenos desarrollos.
    </p>

    <p>
      Como Licenciada en Administración Comercial, <strong
        >tengo un punto de vista amplio en cuanto a organización y manejo de una
        empresa, aportando un amplio conocimiento que facilita el enfoque a
        algunos Sistemas y/o desarrollos</strong
      >. Mi objetivo es con mis conocimientos y habilidades, crear páginas web o
      desarrollos, que sean de calidad, optimizados y eficientes.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/gabyfoto.png"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
