---
import imagenGaby from "../images/fotonew.png";
const personalImageAlt = "Gabriela Alejandra";
import { Image } from "astro:assets";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-black dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Soy Gabriela Alejandra, de Valencia, Venezuela. Una apasionada del
      desarrollo web que comenzó su camino en este mundo de manera autodidacta. <strong
        >Mi formación en Administración me ha proporcionado una base sólida para
        comprender los procesos y las necesidades de las empresas.</strong
      >
    </p>

    <p>
      Siempre me han apasionado los desafios y la resolución de problemas. <strong
      >
        Mi aventura en el desarrollo web comenzó de manera inesperada al apoyar
        a mi pareja en un proyecto desarrollado en React.
      </strong> A pesar de comenzar desde cero, la emoción de ver cómo mis líneas
      de código cobraban vida fue instantánea. Hoy en día, sigo explorando nuevos
      lenguajes y frameworks, buscando constantemente mejorar mis habilidades.
    </p>

    <p>
      Mi formación en Administración Comercial, <strong
        >me brinda una perspectiva única para comprender las necesidades de los
        usuarios y traducirlas en soluciones digitales eficentes.</strong
      > Mi objetivo es crear productos web de alta calidad que sean tanto funcionales
      como estéticamente atractivos.
    </p>

    <p>
      Si estás buscando un desarrollador web apasionado y proactivo, <strong
        >¡me encantaría formar parte de tu equipo!
      </strong> Estoy ansiosa por aplicar mis habilidades en proyectos desafiantes
      y contribuir al crecimiento de tu empresa.
    </p>
  </div>

  <Image
    width="200"
    height="200"
    src={imagenGaby}
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
