---
import imagenGaby from "../images/fotonew.png";
const personalImageAlt = "Gabriela Alejandra";
import { Image } from "astro:assets";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-black dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Gabriela Alejandra, pero mis familiares y amigos me llaman Gaby.
      Soy una apasionada del desarrollo web que comenzó su camino en este mundo
      de manera autodidacta. <strong
        >Mi formación en Administración me ha proporcionado una base sólida para
        comprender los procesos y las necesidades de las empresas.</strong
      >
    </p>

    <p>
      Soy Licenciada en Administración Comercial; sin embargo, <strong>
        el haber colaborado en algunos desarrollos móbiles y web, me despertaron
        esa curiosidad e interés por la programación
      </strong>. Aunque todavía me falta mucho por aprender, no pierdo las ganas
      de hacer buenos desarrollos.
    </p>

    <p>
      Como Licenciada en Administración Comercial, <strong
        >tengo un punto de vista amplio en cuanto a organización y manejo de una
        empresa, aportando un amplio conocimiento que facilita el enfoque a
        algunos Sistemas y/o desarrollos</strong
      >. Si estás buscando un desarrollador web apasionado y proactivo, ¡me
      encantaría formar parte de tu equipo! Estoy ansiosa por aplicar mis
      habilidades en proyectos desafiantes y contribuir al crecimiento de tu
      empresa.
    </p>
  </div>

  <Image
    width="200"
    height="200"
    src={imagenGaby}
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
